body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td,label{font-family:"microsoft yahei"; font-weight:lighter !important;}
body{
	/* edfafc
	cbf5f9 */
	background:-webkit-linear-gradient(top,#edfafc,#cbf5f9);
	height: auto;
}
dl{
	width: 85%;
	height: 44px;
	margin: 0 auto;
	background: #fff;
	border-top : 1px solid #ecfafb;
}
dl.first{
	border-radius: 5px 5px 0 0;
	margin-top: 30px;
	border-top:0px;
}
dl.end{
	border-radius: 0 0 5px 5px;
}
dl dt{
	color: #666;
	font-size: 14px;
}
dl dd{
	width: 100%;
	height: 30px;
	overflow: hidden;
	padding-top: 7px;
}
dl dd input{
	width: 100%;
	height: 30px;
	line-height: 26px;
	border: 0;
	font-size: 14px;
	color: #000;
	text-indent: 5px;
}
dl.code dd.code_num{
	width: 60%;
	float: left;
}
dl.code dd.btn_get{
	width: 30%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	font-size: 14px;
	margin-left: 5%;
	background-color: #25c3da;
	color: #fff;
	padding-top: 0px;
	margin-top: 7px;
}
.btn_refist , .btn_login , .btn_logout{
	width: 85%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #25c3da;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
dl.code dd.un{
	background-color: #e0e0e0;
}
.logo{
	width:123px;
	height:52px;
	background:url("../img/logo.png");
	background-repeat:no-repeat;
	background-size:123px;
	margin:0 auto;
	margin-top:30px;
}
.goto_regist{
	width: 85%;
  text-align: right;
  margin: 0 auto;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  color: #25c3da;
  font-size: 14px;
}

/* myAccount.jsp begin******************* */
div.account_top{
	width:100%;
	margin:0 auto;
	height:368px;
	background-color: #25c3da;
}

div.account_top .top{
	width:100%;
	margin:0 auto;
	height:88px;
	font-size: 48px;
	color: #ffffff;
	vertical-align:middle;
	text-align:center;
	line-height: 88px;
}
div.account_top .middle{
	width:100%;
	margin:0 auto;
	height:180px;
	font-size: 20px;
	color: #ffffff;
}
div.account_top_middle_img{
	width:120px;
	height:120px;
	margin-left:30px;
	float:left;
	vertical-align: middle;
	text-align: center;
}
div.account_top_middle_img img{
	width:120px;
	height:120px;
	margin:0 auto;
		border: 5px solid #dedede;
-moz-border-radius: 80px; 
-webkit-border-radius: 80px; 
border-radius:80px; 
}
div.account_top_middle_label{
	width: auto;
	height: 90px;
	margin-top: 20px;
	margin-right: -45px;
	float: right;
	line-height: 50px;
	text-align: right;
}
div.account_top .bottom{
	width:100%;
	margin:0 auto;
	height:60px;
	font-size: 20px;
	color: #ffffff;
	float:right;
}
div.account_top_bottom_label{
	width: 150px;
	height: 60px;
	margin-right:30px;
	float: right;
	text-align: right;
	line-height: 30px;
}
div.account_middle{
	width:100%;
	margin-top:60px;
	height:100%;
	text-align: center;
	background:#fff;
}
div.account_middle_content{
	width:auto;
	margin:0 auto;
	margin-top:30px;
	margin-left:30px;
	margin-right:15px;
	height:150px;
	background:#fff;
}
div.account_middle_content_block{
	width:30%;
	height:150px;
	float: left;
	margin-right:15px;
	vertical-align: middle;
	text-align: center;
	background-color: #f2f5f7;
	
}
div.account_middle_content_block img{
	width:100px;
	height:100px;
	margin:0 auto;
	margin-top: 5px;
}
div.account_middle_content_block label{
	width:60px;
	height:30px;
	font-size: 28px;
	margin-top: 5px;
	color:#989898;
}
/* myAccount.jsp end******************* */


/* bidinfo.jsp begin******************* */
div.bid_top{
	width:100%;
	margin:0 auto;
	height:260px;
	background-color: #25c3da;
}
div.bid_top label{
	margin-left:30px;
}
div.bid_top .top{
	width:100%;
	margin:0 auto;
	height:88px;
	font-size: 34px;
	color: #ffffff;
	vertical-align:middle;
	text-align:center;
	line-height: 88px;
}
div.bid_top .middle{
	width:100%;
	margin:0 auto;
	margin-top:0px;
	height:80px;
	font-size:34px;
	line-height: 80px;
	color: #ffffff;
}
div.bid_top .bottom{
	width:90%;
	margin:0 auto;
	height:80px;
	font-size: 14px;
	color: #ffffff;
	float:center;
	line-height: 40px;
}
div.bid_top_bottom_label{
	width: 100%;
	margin-right:30px;
	float: left;
	font-size: 20px;
}
div.bid_middle_1{
	width:100%;
	margin:0 auto;
	height:140px;
	color: #ffffff;
	float:center;
	border-bottom: 1px solid #cccccc;
}
div.bid_middle_1 label{
	margin-left:30px;
}
div.bid_middle_1 .box{
	width:30%;
	font-size: 20px;
	color: #cccccc;
	float:left;
	text-align: center;
}
div.bid_middle_2{
	width:100%;
	margin:0 auto;
	height:220px;
	color: #cccccc;
	float:center;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	line-height: 50px;
}
div.bid_middle_2 label{
	margin-left:30px;
}

div.bid_middle_3{
	width:100%;
	margin:0 auto;
	margin-top:20px;
	height:auto;
	color: #cccccc;
	float:center;
	font-size: 24px;
}
div.bid_middle_3 label{
	margin-left:30px;
}
div.bid_middle_3 p{
	margin-left:30px;
}
div.bid_middle_3 .tab{
	width:90%;
	height:60px;
	border:1px solid #25c3da;
	border-radius: 15px;
}
div.bid_middle_3_tab_tab1{
	width:50%;
	height:100%;
	float:left;
	background: #25c3da;
	border-radius: 15px;
	line-height: 60px;
	text-align: center;
	color: #ffffff;
}
div.bid_middle_3_tab_tab2{
	width:50%;
	height:100%;
	float:right;
	background: #ffffff;
	border-radius: 15px;
	line-height: 60px;
	text-align: center;
	color: #25c3da;
}
div.bid_middle_3 .page{
	width:100%;
	margin-top:20px;
	line-height: 40px;
}
div.bid_middle_3 .page label{
	color: #494949;
	font-size: 28px;
	margin-left:30px;
}
div.ly{
	position: absolute; 
	top: 0px; 
	filter:alpha(Opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7; 
	background-color: #000000;
	width:100%;
	height:100%;
    z-index: 2; 
    left: 0px; 
    display: none;
}
div.bid_bottom{
	width:100%;
	margin:0 auto;
	height:88px;
	background-color: #25c3da;
	text-align: center;
	color:#ffffff;
	font-size: 28px;
	line-height: 88px;
	position:fixed;
	bottom:0;
}
div.bid_hidden{
	bottom:88px;
	width:100%;
	margin:0 auto;
	height:514px;
	font-size:28px;
	color:#494949;
	background-color: #ffffff;
	position:absolute;
	display:none;
	z-index:111111;
}
div.bid_hidden label{
	width:90%;
	float:center;
	margin-left: 30px;
}
div.bid_hidden_top{
	width:100%;
	margin:0 auto;
	height:188px;
	border-bottom: 1px solid #cccccc;
	line-height: 50px;
}

div.bid_hidden_middle{
	width:100%;
	margin:0 auto;
	height:166px;
	border-bottom: 1px solid #cccccc;
	line-height: 166px;
}

div.hidden_pwd{
	bottom:88px;
	width:80%;
	float:center;
	margin:0 auto;
	height:240px;
	text-align:center;
	font-size:28px;
	color:#494949;
	background-color: #ffffff;
	position:absolute;
	display:none;
	z-index:111111;
}

div.hidden_pwd_text{
	margin-top:30px;
	width:100%;
	height:100px;
	text-align: center;
	float:center;
}
div.hidden_pwd_button{
	margin-top:30px;
	width:100%;
	height:60px;
	text-align: center;
	float:center;
}
div.hidden_pwd_button_box{
	width:90%;
	margin:0 auto;
	float:center;
}
div.hidden_pwd_button_box1{
	width:45%;
	float:left;
	height:60px;
	background-color: #25c3da;
	text-align: center;
	color:#ffffff;
	font-size: 28px;
	line-height: 60px;
	
}
div.hidden_pwd_button_box2{
	width:45%;
	float:right;
	height:60px;
	background-color: #25c3da;
	text-align: center;
	color:#ffffff;
	font-size: 28px;
	line-height: 60px;
	
}
/* bidinfo.jsp end******************* */

/* targetCustomer.jsp begin******************* */
div.targetCustomer_top{
	width:100%;
	margin:0 auto;
	height:160px;
	float:center;
	font-size:28px;
	background-color: #ffffff;
	text-align: center;
}
div.targetCustomer_top .top1{
	width:100%;
	height:80px;
	margin-top:10px;
	line-height: 80px;
}
div.targetCustomer_top .top{
	width:90%;
	height:80px;
	margin-top:10px;
	background: #ffd155;
	border-radius: 5px;
	line-height: 80px;
	color: #ffffff;
}
div.targetCustomer_top .middle{
	width:90%;
	height:30px;
	color: #cccccc;
	margin-top:10px;
	font-size:24px;
	line-height: 30px;
}
div.targetCustomer_middle{
	width:100%;
	height:auto;
	font-size:24px;
	background: #cccccc;
}
div.targetCustomer_middle .box{
	width:100%;
	margin:0 auto;
	margin-bottom:10px;
	height:200px;
	float:center;
	font-size:24px;
	background: #ffffff;
}
div.targetCustomer_middle .box label{
	margin-left:30px;
}
div.targetCustomer_middle .box .left{
	color:#cccccc;
	font-size: 20px;
	float:left;
	width:70%;
}
div.targetCustomer_middle .box .right{
	line-height: 240px;
	width:30%;
	float:left;
	background:url("../img/vip50.png") no-repeat center center;

}
div.targetCustomer_middle .box .rightdone{
	line-height: 240px;
	width:30%;
	float:left;
	background:url("../img/12.png") no-repeat center center;

}
/* targetCustomer.jsp end******************* */


/* moneyCollectionInfo.jsp begin******************* */
div.collect_top{
	width:100%;
	margin:0 auto;
	height:438px;
	background-color: #25c3da;
}

div.collect_top label{
	float:center;
	}
	
div.collect_top .top{
	height:88px;
	font-size: 34px;
	color: #ffffff;
	vertical-align:middle;
	text-align:center;
	line-height: 88px;
}

div.collect_top .middle{
	height:200px;
	font-size:22px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
}
div.collect_top .bottom{
	height:150px;
	font-size:22px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	background-color: #63def0;
}
div.collect_middle{
	width:100%;
	margin:0 auto;
	height:150px;
	font-size:22px;
	color: #cccccc;
	text-align: center;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}
div.collect_middle .box{
	width:48%;
	float:left;
	margin:0 auto;
	margin-top:20px;
	height:130px;
	font-size:22px;
	color: #cccccc;
	text-align: center;
	background-color: #ffffff;
	line-height: 50px;
}
div.collect_bottom{
	width:100%;
	margin:0 auto;
	font-size:22px;
	color: #cccccc;
	text-align: center;
	background-color: #ffffff;
}
/* moneyCollectionInfo.jsp end******************* */

/* morefunction.jsp begin******************* */
div.morefunction_box{
	width:100%;
	margin:0 auto;
	height:100px;
	font-size:28px;
	color: #494949;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	line-height: 100px;
}
div.morefunction_box .left{
	margin-left:30px;
	width:65%;
	float:left;
}
div.morefunction_box .left img{
	width:32px;
	height:32px;
	
}
div.morefunction_box .right{
	margin-right:30px;
	float:right;
	width:25%;
	text-align: right;
}
div.morefunction_bottomimg{
	width:100%;
	margin:0 auto;
	height:300px;
	text-align: center;
	color:#ffffff;
	font-size: 28px;
	line-height: 300px;
	position:fixed;
	bottom:0;
}
/* morefunction.jsp end******************* */

/* about.jsp begin******************* */
div.about_top{
	height:300px;
	text-align: center;
	line-height: 300px;
}
div.about_top img{
	width:220px;
	height:160px;
	margin:0 auto;
	padding-top:100px;
}
div.about_middle{
	height:auto;
	margin:0 auto;
	width:100%;
	text-align: center;
	float:center;
	font-size:24px;
	color: #cccccc;
	line-height: 30px;
}
div.about_middle p{
	width:90%;
	margin:0 auto;
	float:center;
}
div.about_bottom{
	width:100%;
	height:300px;
	text-align:center;
	color:#cccccc;
	font-size: 24px;
	line-height: 30px;
	position:fixed;
	bottom:0;
}
div.about_bottom p{
	width:360px;
	margin:0 auto;
	float:center;
	text-align: left;
}
/* about.jsp end******************* */

/* dealinfo.jsp begin******************* */

div.deal_box{
	width:100%;
	color:#cccccc;
	font-size: 28px;
	background-color: #f8f8f8;
}
div.deal_box .top{
	width:100%;
	height:50px;
	line-height: 50px;
	background-color: #70d8e7;
	color:#ffffff;
}
div.deal_box .bottom{
	width:100%;	
}
div.deal_box .bottom .record{
	width:100%;
	height:140px;
}
div.deal_box_time{
	width:19%;
	height:140px;	
	float:left;
	color:#e1e1e1;
	
}
div.deal_box_time_label{
	margin:0 auto;
	width:83%;
	margin-top:40px;
	height:100px;
	line-height: 30px;
	text-align: center;
	float:left;
}
div.deal_box_time_img{
	float:left;
	width:15%;
	height:140px;
}
div.deal_box_time label{
	height:50px;
	text-align:center;
	line-height:50px;
}
div.deal_box_content{
	color:#494949;
	height:auto;
	width:80%;
	float:left;
	
}
div.deal_box_content_box{
	text-align: center;
	float: center;
	width: 90%;
	height: 120px;
	background-color: #ffffff;
	margin:0 auto;margin-top:20px;line-height: 30px;
}
div.deal_box_content_box_label{
	padding: 20px 20px 20px 20px;
}
/* dealinfo.jsp end******************* */

/* homepage.jsp begin******************* */
div.homepage_top{
	width:100%;
	height:380px;
	margin:0 auto;
	background: url("../img/homepagetop.png") no-repeat center center;
}
div.home_middle_box{
	width:100%;
	height:220px;
	font-size: 24px;
	color: #cccccc;
	border-bottom: 1px solid #cccccc;
}
div.home_middle_box .left1{
	width:30%;
	height:220px;
	float:left;
	background:url("../img/juewei.png") no-repeat center center;
}
div.home_middle_box .left2{
	width:30%;
	height:220px;
	float:left;
	background:url("../img/zhuandai.png") no-repeat center center;
}
div.home_middle_box .left3{
	width:30%;
	height:220px;
	float:left;
	background:url("../img/sanbiao.png") no-repeat center center;
}
div.home_middle_box .right{
	width:68%;
	text-align:left;
	height:220px;
	float:left;
}
div.home_middle_box .right p{
	padding-top:80px;
}
/* homepage.jsp end******************* */

/* accountmanage.jsp begin******************* */

div.accountmanage_box{
	width:100%;
	margin:0 auto;
	height:100px;
	font-size:28px;
	color: #494949;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	line-height: 100px;
}
div.accountmanage_box .left{
	margin-left:30px;
	width:35%;
	float:left;
}
div.accountmanage_box .left img{
	width:30px;
	height:30px;
}
div.accountmanage_box .right{
	margin-right:30px;
	float:right;
	width:53%;
	text-align: right;
	color: #cccccc;
}
/* homepage.jsp end******************* */

/* accountinfo.jsp begin******************* */
div.accountinfo_middle{
	width:100%;
	height:auto;
	margin-top:16px;
	font-size:24px;
	background: #eeeeee;
}
div.accountinfo_middle .box{
	width:100%;
	margin:0 auto;
	margin-bottom:10px;
	height:140px;
	float:center;
	font-size:24px;
	background: #ffffff;
}
div.accountinfo_middle .box label{
	margin-left:30px;
}
div.accountinfo_middle .box .left{
	color:#494949;
	font-size: 28px;
	height:140px;
	line-height: 140px;
	float:left;
	width:60%;
}
div.accountinfo_middle .box .right{
	margin-right:30px;
	color:#cccccc;
	line-height: 140px;
	width:30%;
	float:left;
	text-align: right;
	/* background:url("../img/vip50.png") no-repeat center center; */

}
div.accountinfo_middle .box .right img{
	width:100px;
	height:100px;
	margin-top:20px;
	border: 5px solid #dedede;
-moz-border-radius: 80px; 
-webkit-border-radius: 80px; 
border-radius:80px; 
}

div.accountinfo_bottom{
	width:100%;
	margin-top:26px;
	height:88px;
	text-align: center;
	float:center;
	color:#ffffff;
	font-size: 28px;
	line-height: 88px;
	background-color: #25c3da;
}

/* accountinfo.jsp end******************* */

/* recharge.jsp begin******************* */
div.recharge_top{
	
	width:100%;
	float:center;
	margin:0 auto;
	height:288px;
	text-align:center;
	font-size:28px;
	color:#ffffff;
	background-color: #25c3da;
}
div.recharge_top .top{
	width:100%;
	height:88px;
	line-height: 88px;
}
div.recharge_top .middle{
	width:100%;
	height:200px;
	font-size:22px;
	color:#ffffff;
	line-height: 60px;
}
div.recharge_middle{
	
	width:100%;
	float:center;
	margin:0 auto;
	height:240px;
	text-align:center;
	font-size:28px;
	color:#494949;
	background-color: #ffffff;
}

div.recharge_middle_text{
	margin-top:30px;
	width:100%;
	height:100px;
	text-align: center;
	float:center;
}
div.recharge_middle_button{
	margin-top:30px;
	width:100%;
	height:88px;
	text-align: center;
	float:center;
}
div.recharge_middle_button_box{
	margin:0 auto;
	width:90%;
	height:88px;
	line-height:88px;
	text-align: center;
	color:#ffffff;
	float:center;
	background-color: #25c3da;
	border-radius: 5px;
}
/* recharge.jsp end******************* */

/* bankcard.jsp begin******************* */
div.bankcard_top{
	width:100%;
	float:center;
	margin:0 auto;
	height:88px;
	line-height:88px;
	text-align:center;
	font-size:28px;
	color:#ffffff;
	background-color: #25c3da;
}
div.bankcard_middle{
	width:100%;
	height:100%;
	margin:0 auto;
}
	
div.bankcard_middle_box{
	width:100%;
	height:149px;
	margin:0 auto;
	margin-top: 10px;
	background-color: #ffffff;
}
div.bankcard_middle_box_label{
	width:100%;
	height:119px;
	margin:0 auto;
	padding-top: 30px;
	line-height: 40px;
	float:left;
}
div.bankcard_middle_box_delete{
	width:150px;
	height:149px;
	margin:0 auto;
	color:#ffffff;
	text-align:center;
	font-size:34px;
	float:right;
	line-height: 149px;
	display:none;
	margin-right:-150px;
	background-color: #ff0033;
}
div.bankcard_middle_box_label label{
	margin-left:30px;color:#494949;font-size: 34px;
}
/* bankcard.jsp end******************* */



/* addbankcard.jsp begin******************* */
div.addbank_middle{
	width:100%;
	height:auto;
	margin-top:16px;
	font-size:28px;
	background: #eeeeee;
}
div.addbank_middle .box{
	width:100%;
	margin:0 auto;
	height:100px;
	float:center;
	font-size:28px;
	background: #ffffff;
	border-bottom: 1px solid #dedede;
}
div.addbank_middle .box label{
	margin-left:30px;
}
div.addbank_middle .box .left{
	color:#494949;
	font-size: 28px;
	height:100px;
	line-height: 100px;
	float:left;
	width:30%;
	border: 0px;
}
div.addbank_middle .box .right{
	
	color:#cccccc;
	line-height: 100px;
	width:66%;
	float:left;
	text-align: left;
	border: 0px;
	/* background:url("../img/vip50.png") no-repeat center center; */

}
div.addbank_middle .box .right img{
	width:100px;
	height:100px;
	margin-top:20px;
	border: 5px solid #dedede;
-moz-border-radius: 80px; 
-webkit-border-radius: 80px; 
border-radius:80px; 
}

div.addbank_bottom{
	width:100%;
	margin-top:26px;
	height:88px;
	text-align: center;
	float:center;
	color:#ffffff;
	font-size: 28px;
	line-height: 88px;
	background-color: #25c3da;
}

/* addbankcard.jsp end******************* */
